:root{
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --tertiary-color: #6c757d;
  --quaternary-color: #6c757d;
  --quinary-color: #6c757d;
  --senary-color: #6c757d;
  --septenary-color: #6c757d;
}